name: CI/CD pour FastAPI

on:
  push:
    branches: [ branch-fastapi, main, master ]
  pull_request:
    branches: [ branch-fastapi, main, master ]

jobs:
  # Job de test (CI)
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup  de Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Instalation des dépendances
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Lancement des tests
      env:
        # On utilise SQLite même pour l'app globale pendant les tests pour éviter toute erreur de connexion
        DATABASE_URL: "sqlite:///./ci_temp.db"
        PYTHONPATH: .
      run: |
        pytest

  # Job de construction et publication de l'image Docker (CD)
  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Connection au registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extraction des metadata (tags, labels) pour Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            latest

      - name: Build et push de l'image Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
